.form-block{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
.jumbotron{
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    height: 30vh;
    background-color: rgb(206, 197, 197);
}
h2{
    margin-top: 13%;
    margin-left: 15%;
    margin-right: 15%;
}
p{
    margin-top: 7%;
    margin-left: 15%;
    margin-right: 15%;
}
.btn{
    background-color: rgb(51, 133, 209);
}
.p1{
    p {
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }
}